<section class="article-section mb-10 pb-6">
  <div class="container">
    <div class="row">
      <div class="col-xl-8 col-md-10 m-auto">
        <div class="article-section__img">
          <img src="images/content/post.jpeg" loading="lazy" alt="" />
        </div>
      </div>
      <div class="col-xl-7 col-md-9 m-auto">
        <div class="header-page">
          <h1 class="h2">
            Reprezentace v úterý zveřejní nominaci na zápas proti Albánii
          </h1>
          <div class="header-page__date">26/8 2023</div>
        </div>
        <div class="o-content">
          <div class="perex">
            Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Sed ac
            dolor sit amet purus malesuada congue. Nulla accumsan, elit sit amet
            varius semper, nulla mauris mollis quam, tempor suscipit diam nulla
            vel leo. Duis risus. In enim a arcu imperdiet malesuada.
          </div>
          <p>
            Nulla accumsan, elit sit amet varius semper, nulla mauris mollis
            quam, tempor suscipit diam nulla vel leo. Fusce nibh. Etiam bibendum
            elit eget erat. Nullam dapibus fermentum ipsum. Sed convallis magna
            eu sem. Etiam posuere lacus quis dolor. Mauris metus. Morbi
            imperdiet, mauris ac auctor dictum, nisl ligula egestas nulla, et
            sollicitudin sem purus in lacus. Cum sociis natoque penatibus et
            magnis dis parturient montes, nascetur ridiculus mus. Nullam
            faucibus mi quis velit.
          </p>
          <p>
            Aliquam erat volutpat. Praesent id justo in neque elementum
            ultrices. Aliquam erat volutpat. Phasellus enim erat, vestibulum
            vel, aliquam a, posuere eu, velit. Nulla est. Fusce dui leo,
            imperdiet in, aliquam sit amet, feugiat eu, orci. Duis ante orci,
            molestie vitae vehicula venenatis, tincidunt ac pede. Etiam sapien
            elit, consequat eget, tristique non, venenatis quis, ante. Cum
            sociis natoque penatibus et magnis dis parturient montes, nascetur
            ridiculus mus. Vestibulum erat nulla, ullamcorper nec, rutrum non,
            nonummy ac, erat.
          </p>
          <p>
            Fusce wisi. Morbi leo mi, nonummy eget tristique non, rhoncus non
            leo. Nulla accumsan, elit sit amet varius semper, nulla mauris
            mollis quam, tempor suscipit diam nulla vel leo. Nunc auctor. Nullam
            sapien sem, ornare ac, nonummy non, lobortis a enim. Duis ante orci,
            molestie vitae vehicula venenatis, tincidunt ac pede. In rutrum.
            Fusce nibh. Integer pellentesque quam vel velit. Aenean fermentum
            risus id tortor. Mauris tincidunt sem sed arcu. Maecenas libero.
          </p>
          <h3>Reprezentace v úterý zveřejní nominaci na zápas proti Albánii</h3>
          <p>
            Fusce tellus odio, dapibus id fermentum quis, suscipit id erat.
            Phasellus rhoncus. Integer lacinia. Aliquam ante. Nam quis nulla. In
            rutrum. Donec quis nibh at felis congue commodo. Excepteur sint
            occaecat cupidatat non proident, sunt in culpa qui officia deserunt
            mollit anim id est laborum. Fusce suscipit libero eget elit. Nullam
            rhoncus aliquam metus.
          </p>
          <p>
            Nulla accumsan, elit sit amet varius semper, nulla mauris mollis
            quam, tempor suscipit diam nulla vel leo. Fusce nibh. Etiam bibendum
            elit eget erat. Nullam dapibus fermentum ipsum. Sed convallis magna
            eu sem. Etiam posuere lacus quis dolor. Mauris metus. Morbi
            imperdiet, mauris ac auctor dictum, nisl ligula egestas nulla, et
            sollicitudin sem purus in lacus. Cum sociis natoque penatibus et
            magnis dis parturient montes, nascetur ridiculus mus. Nullam
            faucibus mi quis velit.
          </p>
          <h4>Reprezentace v úterý zveřejní nominaci na zápas proti Albánii</h4>
          <ul>
            <li>
              <a href="#">Základní informace</a>
            </li>
            <li>
              <a href="#">Historie klubu</a>
            </li>
            <li>Vedení</li>
            <li>
              <a href="#">Kontakty</a>
            </li>
          </ul>
          <p>
            Aliquam erat volutpat. Praesent id justo in neque elementum
            ultrices. Aliquam erat volutpat. Phasellus enim erat, vestibulum
            vel, aliquam a, posuere eu, velit. Nulla est. Fusce dui leo,
            imperdiet in, aliquam sit amet, feugiat eu, orci. Duis ante orci,
            molestie vitae vehicula venenatis, tincidunt ac pede. Etiam sapien
            elit, consequat eget, tristique non, venenatis quis, ante. Cum
            sociis natoque penatibus et magnis dis parturient montes, nascetur
            ridiculus mus. Vestibulum erat nulla, ullamcorper nec, rutrum non,
            nonummy ac, erat.
          </p>
          <p>
            Fusce wisi. Morbi leo mi, nonummy eget tristique non, rhoncus non
            leo. Nulla accumsan, elit sit amet varius semper, nulla mauris
            mollis quam, tempor suscipit diam nulla vel leo. Nunc auctor. Nullam
            sapien sem, ornare ac, nonummy non, lobortis a enim. Duis ante orci,
            molestie vitae vehicula venenatis, tincidunt ac pede. In rutrum.
            Fusce nibh. Integer pellentesque quam vel velit. Aenean fermentum
            risus id tortor. Mauris tincidunt sem sed arcu. Maecenas libero.
          </p>
          <p>
            Fusce tellus odio, dapibus id fermentum quis, suscipit id erat.
            Phasellus rhoncus. Integer lacinia. Aliquam ante. Nam quis nulla. In
            rutrum. Donec quis nibh at felis congue commodo. Excepteur sint
            occaecat cupidatat non proident, sunt in culpa qui officia deserunt
            mollit anim id est laborum. Fusce suscipit libero eget elit. Nullam
            rhoncus aliquam metus.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
