<section class="hp-about">
  <div class="container">
    <div class="row g-10">
      <div class="col-xl-3 col-lg-4 col-12">
        <div class="hp-about__box">
          <div class="o-content">
            <h1>About Teqball</h1>
            <p>
              Teqball is a ball sport that is played on a curved table,
              combining elements of sepak takraw and table tennis.
            </p>
            <p>
              Back and forth, the players hit a football with any part of the
              body except arms and hands. Teqball can be played between two
              players as a singles game, or between four players as a doubles
              game.
            </p>
            <p>
              Back and forth, the players hit a football with any part of the
              body except arms and hands. Teqball can be played between two
              players as a singles game, or between four players as a doubles
              game.
            </p>
          </div>
          <a href="#" class="link mt-lg-8 mt-4">Read more</a>
        </div>
      </div>
      <div class="col-xl-9 col-lg-8 col-12">
        <div class="hp-about__img">
          <ul class="hp-about__info">
            <li><span>18</span> Vysvětlení, co je to za číslo</li>
            <li><span>128</span> Vysvětlení, co je to za číslo</li>
          </ul>
          <img src="images/content/about.png" loading="lazy" alt="" />
        </div>
      </div>
    </div>
  </div>
</section>
