<section class="hp-instagram">
  <div class="container">
    <div class="header-section">
      <h3 class="h3">Instagram</h3>
      <a href="#" class="link">Follow us</a>
    </div>
    <div
      class="row align-items-center hp-instagram-slider"
      id="animated-thumbnail"
    >
      <div class="col-12 col-md-3 text-center">
        <figure>
          <a
            class="hp-instagram__item"
            href="images/content/post.jpeg"
            style="margin-left: 10px; margin-right: 10px"
          >
            <img src="images/content/post.jpeg" loading="lazy" alt="" />
          </a>
        </figure>
      </div>
      <div class="col-12 col-md-3 text-center">
        <figure>
          <a
            class="hp-instagram__item"
            href="images/content/1.jpeg"
            style="margin-left: 10px; margin-right: 10px"
          >
            <img src="images/content/1.jpeg" loading="lazy" alt="" />
          </a>
        </figure>
      </div>
      <div class="col-12 col-md-3 text-center">
        <figure>
          <a
            class="hp-instagram__item"
            href="images/content/1.jpeg"
            style="margin-left: 10px; margin-right: 10px"
          >
            <img src="images/content/1.jpeg" loading="lazy" alt="" />
          </a>
        </figure>
      </div>
      <div class="col-12 col-md-3 text-center">
        <figure>
          <a
            class="hp-instagram__item"
            href="images/content/post.jpeg"
            style="margin-left: 10px; margin-right: 10px"
          >
            <img src="images/content/post.jpeg" loading="lazy" alt="" />
          </a>
        </figure>
      </div>
      <div class="col-12 col-md-3 text-center">
        <figure>
          <a
            class="hp-instagram__item"
            href="images/content/1.jpeg"
            style="margin-left: 10px; margin-right: 10px"
          >
            <img src="images/content/1.jpeg" loading="lazy" alt="" />
          </a>
        </figure>
      </div>
      <div class="col-12 col-md-3 text-center">
        <figure>
          <a
            class="hp-instagram__item"
            href="images/content/1.jpeg"
            style="margin-left: 10px; margin-right: 10px"
          >
            <img src="images/content/1.jpeg" loading="lazy" alt="" />
          </a>
        </figure>
      </div>
      <div class="col-12 col-md-3 text-center">
        <figure>
          <a
            class="hp-instagram__item"
            href="images/content/1.jpeg"
            style="margin-left: 10px; margin-right: 10px"
          >
            <img src="images/content/1.jpeg" loading="lazy" alt="" />
          </a>
        </figure>
      </div>
      <div class="col-12 col-md-3 text-center">
        <figure>
          <a
            class="hp-instagram__item"
            href="images/content/post.jpeg"
            style="margin-left: 10px; margin-right: 10px"
          >
            <img src="images/content/post.jpeg" loading="lazy" alt="" />
          </a>
        </figure>
      </div>
    </div>
  </div>
</section>
