<section class="partners-section pt-6 mb-10 pb-6">
  <div class="container">
    <div class="header-page">
      <h1 class="h2">Partneři</h1>
    </div>
    <div class="row align-items-center g-4">
      <div class="col-12 col-md-3 text-center">
        <a class="partners__item" href="#" target="_blank">
          <img src="images/content/partner-1.png" loading="lazy" alt="" />
        </a>
      </div>
      <div class="col-12 col-md-3 text-center">
        <a class="partners__item" href="#" target="_blank">
          <img src="images/content/partner-2.png" loading="lazy" alt="" />
        </a>
      </div>
      <div class="col-12 col-md-3 text-center">
        <a class="partners__item" href="#" target="_blank">
          <img src="images/content/partner-3.png" loading="lazy" alt="" />
        </a>
      </div>
      <div class="col-12 col-md-3 text-center">
        <a class="partners__item" href="#" target="_blank">
          <img src="images/content/partner-4.png" loading="lazy" alt="" />
        </a>
      </div>
      <div class="col-12 col-md-3 text-center">
        <a class="partners__item" href="#" target="_blank">
          <img src="images/content/partner-5.png" loading="lazy" alt="" />
        </a>
      </div>
      <div class="col-12 col-md-3 text-center">
        <a class="partners__item" href="#" target="_blank">
          <img src="images/content/partner-6.png" loading="lazy" alt="" />
        </a>
      </div>
      <div class="col-12 col-md-3 text-center">
        <a class="partners__item" href="#" target="_blank">
          <img src="images/content/partner-1.png" loading="lazy" alt="" />
        </a>
      </div>
      <div class="col-12 col-md-3 text-center">
        <a class="partners__item" href="#" target="_blank">
          <img src="images/content/partner-2.png" loading="lazy" alt="" />
        </a>
      </div>
      <div class="col-12 col-md-3 text-center">
        <a class="partners__item" href="#" target="_blank">
          <img src="images/content/partner-3.png" loading="lazy" alt="" />
        </a>
      </div>
      <div class="col-12 col-md-3 text-center">
        <a class="partners__item" href="#" target="_blank">
          <img src="images/content/partner-4.png" loading="lazy" alt="" />
        </a>
      </div>
      <div class="col-12 col-md-3 text-center">
        <a class="partners__item" href="#" target="_blank">
          <img src="images/content/partner-5.png" loading="lazy" alt="" />
        </a>
      </div>
      <div class="col-12 col-md-3 text-center">
        <a class="partners__item" href="#" target="_blank">
          <img src="images/content/partner-6.png" loading="lazy" alt="" />
        </a>
      </div>
      <div class="col-12 col-md-3 text-center">
        <a class="partners__item" href="#" target="_blank">
          <img src="images/content/partner-1.png" loading="lazy" alt="" />
        </a>
      </div>
      <div class="col-12 col-md-3 text-center">
        <a class="partners__item" href="#" target="_blank">
          <img src="images/content/partner-2.png" loading="lazy" alt="" />
        </a>
      </div>
      <div class="col-12 col-md-3 text-center">
        <a class="partners__item" href="#" target="_blank">
          <img src="images/content/partner-3.png" loading="lazy" alt="" />
        </a>
      </div>
      <div class="col-12 col-md-3 text-center">
        <a class="partners__item" href="#" target="_blank">
          <img src="images/content/partner-4.png" loading="lazy" alt="" />
        </a>
      </div>
      <div class="col-12 col-md-3 text-center">
        <a class="partners__item" href="#" target="_blank">
          <img src="images/content/partner-5.png" loading="lazy" alt="" />
        </a>
      </div>
      <div class="col-12 col-md-3 text-center">
        <a class="partners__item" href="#" target="_blank">
          <img src="images/content/partner-6.png" loading="lazy" alt="" />
        </a>
      </div>
      <div class="col-12 col-md-3 text-center">
        <a class="partners__item" href="#" target="_blank">
          <img src="images/content/partner-1.png" loading="lazy" alt="" />
        </a>
      </div>
      <div class="col-12 col-md-3 text-center">
        <a class="partners__item" href="#" target="_blank">
          <img src="images/content/partner-2.png" loading="lazy" alt="" />
        </a>
      </div>
      <div class="col-12 col-md-3 text-center">
        <a class="partners__item" href="#" target="_blank">
          <img src="images/content/partner-3.png" loading="lazy" alt="" />
        </a>
      </div>
      <div class="col-12 col-md-3 text-center">
        <a class="partners__item" href="#" target="_blank">
          <img src="images/content/partner-4.png" loading="lazy" alt="" />
        </a>
      </div>
      <div class="col-12 col-md-3 text-center">
        <a class="partners__item" href="#" target="_blank">
          <img src="images/content/partner-5.png" loading="lazy" alt="" />
        </a>
      </div>
      <div class="col-12 col-md-3 text-center">
        <a class="partners__item" href="#" target="_blank">
          <img src="images/content/partner-6.png" loading="lazy" alt="" />
        </a>
      </div>
    </div>
  </div>
</section>
