.partners-section {
  .partners__item {
    border-radius: 10px;
    border: 1px solid rgba(151, 151, 151, 1);
    padding: 20px;
    aspect-ratio: 320/200;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    img {
      width: 100%;
      height: auto;
      display: block;
      object-fit: contain;
    }
  }
}
