<section class="photogallery-section pt-6 mb-10 pb-6">
  <div class="container">
    <div class="header-page">
      <h1 class="h2">Fotogalerie</h1>
    </div>
    <div class="topstory">
      <div class="container">
        <div class="row g-xl-10 g-5">
          <div class="col-xl-4 col-md-6">
            <a
              data-gallery="1"
              data-gallery-id="1"
              href="#"
              class="topstory__item"
            >
              <img src="https://via.placeholder.com/600x600" alt="" />
              <div class="topstory__info">
                <div class="topstory__info-title">
                  <h2 class="h6">Čvančara začal v německé lize dvěma góly</h2>
                  <span>Read more</span>
                </div>
              </div>
            </a>
          </div>
          <div class="col-xl-4 col-md-6">
            <a
              data-gallery="2"
              data-gallery-id="1"
              href="#"
              class="topstory__item"
            >
              <img src="images/content/post.jpeg" loading="lazy" alt="" />
              <div class="topstory__info">
                <div class="topstory__info-title">
                  <h2 class="h6">Čvančara začal v německé lize dvěma góly</h2>
                  <span>Read more</span>
                </div>
              </div>
            </a>
          </div>
          <div class="col-xl-4 col-md-6">
            <a
              data-gallery="3"
              data-gallery-id="1"
              href="#"
              class="topstory__item"
            >
              <img src="https://via.placeholder.com/600x600" alt="" />
              <div class="topstory__info">
                <div class="topstory__info-title">
                  <h2 class="h6">Čvančara začal v německé lize dvěma góly</h2>
                  <span>Read more</span>
                </div>
              </div>
            </a>
          </div>
          <div class="col-xl-4 col-md-6">
            <a
              data-gallery="4"
              data-gallery-id="1"
              href="#"
              class="topstory__item"
            >
              <img src="images/content/post.jpeg" loading="lazy" alt="" />
              <div class="topstory__info">
                <div class="topstory__info-title">
                  <h2 class="h6">Čvančara začal v německé lize dvěma góly</h2>
                  <span>Read more</span>
                </div>
              </div>
            </a>
          </div>
          <div class="col-xl-4 col-md-6">
            <a
              data-gallery="5"
              data-gallery-id="1"
              href="#"
              class="topstory__item"
            >
              <img src="https://via.placeholder.com/600x600" alt="" />
              <div class="topstory__info">
                <div class="topstory__info-title">
                  <h2 class="h6">Čvančara začal v německé lize dvěma góly</h2>
                  <span>Read more</span>
                </div>
              </div>
            </a>
          </div>
          <div class="col-xl-4 col-md-6">
            <a
              data-gallery="6"
              data-gallery-id="1"
              href="#"
              class="topstory__item"
            >
              <img src="images/content/post.jpeg" loading="lazy" alt="" />
              <div class="topstory__info">
                <div class="topstory__info-title">
                  <h2 class="h6">Čvančara začal v německé lize dvěma góly</h2>
                  <span>Read more</span>
                </div>
              </div>
            </a>
          </div>
          <div class="col-xl-4 col-md-6">
            <a
              data-gallery="7"
              data-gallery-id="1"
              href="#"
              class="topstory__item"
            >
              <img src="https://via.placeholder.com/600x600" alt="" />
              <div class="topstory__info">
                <div class="topstory__info-title">
                  <h2 class="h6">Čvančara začal v německé lize dvěma góly</h2>
                  <span>Read more</span>
                </div>
              </div>
            </a>
          </div>
          <div class="col-xl-4 col-md-6">
            <a
              data-gallery="8"
              data-gallery-id="1"
              href="#"
              class="topstory__item"
            >
              <img src="images/content/post.jpeg" loading="lazy" alt="" />
              <div class="topstory__info">
                <div class="topstory__info-title">
                  <h2 class="h6">Čvančara začal v německé lize dvěma góly</h2>
                  <span>Read more</span>
                </div>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
