<section class="photogallery-section pt-6 mb-10 pb-6">
  <div class="container">
    <div class="header-page">
      <h1 class="h2">Fotogalerie</h1>
    </div>
    <div class="photogallery-section">
      <div class="container">
        <div class="row g-xl-10 g-5">
          <div class="col-xl-4 col-md-6">
            <a data-gallery-id="1" href="#" class="photogallery-section__item">
              <img src="https://via.placeholder.com/600x600" alt="" />
              <div class="photogallery-section__info">
                <div class="photogallery-section__info-title">
                  <h2 class="h6">Čvančara začal v německé lize dvěma góly</h2>
                  <span>Read more</span>
                </div>
              </div>
            </a>
          </div>
          <div class="col-xl-4 col-md-6">
            <a data-gallery-id="2" href="#" class="photogallery-section__item">
              <img src="images/content/post.jpeg" loading="lazy" alt="" />
              <div class="photogallery-section__info">
                <div class="photogallery-section__info-title">
                  <h2 class="h6">Čvančara začal v německé lize dvěma góly</h2>
                  <span>Read more</span>
                </div>
              </div>
            </a>
          </div>
          <div class="col-xl-4 col-md-6">
            <a data-gallery-id="3" href="#" class="photogallery-section__item">
              <img src="https://via.placeholder.com/600x600" alt="" />
              <div class="photogallery-section__info">
                <div class="photogallery-section__info-title">
                  <h2 class="h6">Čvančara začal v německé lize dvěma góly</h2>
                  <span>Read more</span>
                </div>
              </div>
            </a>
          </div>
          <div class="col-xl-4 col-md-6">
            <a data-gallery-id="4" href="#" class="photogallery-section__item">
              <img src="images/content/post.jpeg" loading="lazy" alt="" />
              <div class="photogallery-section__info">
                <div class="photogallery-section__info-title">
                  <h2 class="h6">Čvančara začal v německé lize dvěma góly</h2>
                  <span>Read more</span>
                </div>
              </div>
            </a>
          </div>
          <div class="col-xl-4 col-md-6">
            <a data-gallery-id="5" href="#" class="photogallery-section__item">
              <img src="https://via.placeholder.com/600x600" alt="" />
              <div class="photogallery-section__info">
                <div class="photogallery-section__info-title">
                  <h2 class="h6">Čvančara začal v německé lize dvěma góly</h2>
                  <span>Read more</span>
                </div>
              </div>
            </a>
          </div>
          <div class="col-xl-4 col-md-6">
            <a data-gallery-id="6" href="#" class="photogallery-section__item">
              <img src="images/content/post.jpeg" loading="lazy" alt="" />
              <div class="photogallery-section__info">
                <div class="photogallery-section__info-title">
                  <h2 class="h6">Čvančara začal v německé lize dvěma góly</h2>
                  <span>Read more</span>
                </div>
              </div>
            </a>
          </div>
          <div class="col-xl-4 col-md-6">
            <a data-gallery-id="7" href="#" class="photogallery-section__item">
              <img src="https://via.placeholder.com/600x600" alt="" />
              <div class="photogallery-section__info">
                <div class="photogallery-section__info-title">
                  <h2 class="h6">Čvančara začal v německé lize dvěma góly</h2>
                  <span>Read more</span>
                </div>
              </div>
            </a>
          </div>
          <div class="col-xl-4 col-md-6">
            <a data-gallery-id="8" href="#" class="photogallery-section__item">
              <img src="images/content/post.jpeg" loading="lazy" alt="" />
              <div class="photogallery-section__info">
                <div class="photogallery-section__info-title">
                  <h2 class="h6">Čvančara začal v německé lize dvěma góly</h2>
                  <span>Read more</span>
                </div>
              </div>
            </a>
          </div>
        </div>
        <a href="#" class="btn btn-more">Načíst další</a>
      </div>
    </div>
  </div>
</section>
