<section class="topstory">
  <div class="container">
    <ul class="topstory__list">
      <li class="topstory__col active">
        <a href="#" class="topstory__item">
          <img src="images/content/1.jpeg" loading="lazy" alt="" />
          <div class="topstory__info">
            <div class="topstory__info-title">
              <h1 class="h3">
                Reprezentace v úterý zveřejní nominaci na zápas proti Albánii
              </h1>
              <span>Read more</span>
            </div>
            <div class="topstory__date">26/8 2023</div>
          </div>
        </a>
      </li>
      <li class="topstory__col">
        <a href="#" class="topstory__item">
          <img src="https://via.placeholder.com/320x425" alt="" />
          <div class="topstory__info">
            <div class="topstory__info-title">
              <h2 class="h3">Čvančara začal v německé lize dvěma góly</h2>
              <span>Read more</span>
            </div>
            <div class="topstory__date">26/8 2023</div>
          </div>
        </a>
      </li>
      <li class="topstory__col">
        <a href="#" class="topstory__item">
          <img src="images/content/post.jpeg" loading="lazy" alt="" />
          <div class="topstory__info">
            <div class="topstory__info-title">
              <h2 class="h3">Čvančara začal v německé lize dvěma góly</h2>
              <span>Read more</span>
            </div>
            <div class="topstory__date">26/8 2023</div>
          </div>
        </a>
      </li>
    </ul>
  </div>
</section>
